@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.topContainer {
    background-image: url('https://assets.ccbp.in/frontend/dynamic-webapps/library-management-bg.png');
    width: 100%;
    background-size: cover;
    height: 35vh;
    text-align: center;
}

.mainHeading {
    font-size: 38px;
    color: #fff;
    font-weight: 400;
}

#searchInput {
    width: 90%;
    padding:.5rem
}

#resultsHeading {
    font-size: 28px;
}

.resultBookImage {
    width: 100%;
    height: 120px;
}

.bookTitle {
    font-size: 14px;
}